<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="base/head"></head>

<body>
<div class="fixed-wrap">
  <header>
    <div class="header-wrap">
      <h3>登录</h3>
      <a href="#" class="left"><img src="/img/sy_back.png"/></a>
    </div>
  </header>

  <div class="register-container">
    <h2>快速登录</h2>
    <p>
      <span><img src="/img/dl_yzm.png"/></span>
      <input id="loginName" type="text" placeholder="请输入登录名"/>
    </p>
    <p>
      <span><img src="/img/dl_mm.png"/></span>
      <input id="password" type="password" placeholder="请输入密码"/>
      <i id="showOrHidePwd"></i>
    </p>
    <button id="btn_login" class="btn register-btn" type="button"><span id="loginText">登录</span></button>

    <div class="clear mt10 color9">
      <p class="fr">还没有账户？<a href="/register" class="blue">立即注册</a></p>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#showOrHidePwd").click(function () {
      if ($("#password")[0].type == "password") {
        $("#password")[0].type = "text";
        $("#showOrHidePwd").css("background", "url(/img/dl_by.png) no-repeat");
      } else {
        $("#password")[0].type = "password";
        $("#showOrHidePwd").css("background", "url(/img/dl_zy.png) no-repeat");
      }
      $("#showOrHidePwd").css("background-size", ".15rem");
    });

    // 表单提交开始
    $("#btn_login").click(function () {
      $('#loginText').html("登录中...");
      var loginName = $("#loginName").val();
      var password = $("#password").val();

      if (loginName == "") {
        $('#loginText').html("立即登录");
        msgErr('登录名不可为空!');
        return;
      }
      if (password == "") {
        $('#loginText').html("立即登录");
        msgErr('密码不可为空!');
        return;
      }

      $.ajax({
        type: "post",
        url: "/do-login",
        dataType: "json",
        data: {
          loginName: loginName,
          password: password
        },//传递页面索引
        success: function (result) {
          if (result.status == "SUCCESS") {
            loadingSuccessLocation("登录成功", result.data); // todo should be a function not a page
          } else {
            msgErr(result.error);
            $('#loginText').html("立即登录");
          }
        },
        error: function () {
          msgErr('请求异常,请联系管理员!');
        }
      });
    });
    // 表单提交结束
  });
</script>
</body>
</html>
