<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="base/head"></head>

<body>
<div class="fixed-wrap">
  <header>
    <div class="header-wrap">
      <h3>注册</h3>
      <a href="#" class="left"><img src="/img/sy_back.png"/></a>
    </div>
  </header>

  <div class="register-container">
    <h2>用户注册</h2>
    <p class="yzm">
      <span><img src="/img/dl_yzm.png"/></span>
      <input id="name" type="text" maxlength="32" placeholder="请输入姓名"/>
    </p>
    <p>
      <span><img src="/img/dl_sjh.png"/></span>
      <input id="phoneNum" type="text" maxlength="11" placeholder="请输入手机号"/>
    </p>
    <p>
      <span><img src="/img/dl_mm.png"/></span>
      <input id="password" type="password" placeholder="请输入6~16位的密码" minlength="6" maxlength="16"/>
    </p>
    <p>
      <span><img src="/img/dl_mm.png"/></span>
      <input id="confirmPwd" type="password" placeholder="请再次确认密码"/>
    </p>
    <button id="btn_register" class="btn register-btn" type="button">注册</button>

    <div class="clear color9 mt10">
      <p class="fr">已有账户，<a href="/login" class="blue">立即登录</a></p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/sysuser/register.js"></script>
</body>
</html>
