<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="base/head"></head>

<body>
<script type="text/javascript" src="/lib/js/vue.min.js"></script>

<header>
  <div class="header-wrap">
    <h3>基础物料</h3>
    <a href="#" class="left"><img src="/img/sy_back.png"/></a>
  </div>
</header>

<!--种类栏：灯光-->
<div class="mouthfund-list">
  <ul class="">
    <li class="active"><a href="/tpl/base-mate/light">灯光</a></li>
    <li><a href="/wap/member/day/dayIndex.html">按天配资</a></li>
    <li><a href="/wap/member/mx/mxIndex.html">免息配资</a></li>
    <li><a href="/wap/member/free/freeIndex.html">免费体验</a></li>
  </ul>
</div>

<!--灯光类目-->
<div class="record-center">
  <p class="txt-red" style="font-weight:bold;">帕灯</p>
  <table border="0" cellpadding="0" cellspacing="0" class="record-table">
    <tr>
      <th>单价：</th>
      <td><b class="orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每个每天2元</b></td>
    </tr>
    <tr>
      <th>预计所需数量：</th>
      <td id="etcNumProps"><input v-model="etcNum" maxlength="10" minlength="1" type="text" id="etcNum"/>个</td>
    </tr>
    <tr>
      <th>开始使用时间：</th>
      <td><input placeholder="例：2018-01-01 09:00:00" type="text" id="etcStartTime"/></td>
    </tr>
    <tr>
      <th>预计使用天数：</th>
      <td id="etcDayProps"><input v-model="etcDay" maxlength="10" minlength="1" type="text" id="etcDay"/>天</td>
    </tr>
    <tr>
      <th>预计总费用：</th>
      <td><input type="text" id="etcTotalMoney" readonly>元</input></td>
    </tr>
    <tr>
      <th>备注：</th>
      <td><input type="text" id="etcRemark"/></td>
    </tr>
  </table>
  <div class="detail-group">
    <a onclick="etcSure()">确定</a>
    <a onclick="etcPend()">待定</a>
  </div>
</div>

<div class="record-center">
  <p class="txt-red" style="font-weight:bold;">筒灯</p>
  <table border="0" cellpadding="0" cellspacing="0" class="record-table">
    <tr>
      <th>单价：</th>
      <td><b class="orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每个每天3元</b></td>
    </tr>
    <tr>
      <th>预计所需数量：</th>
      <td id="downNumProps"><input v-model="downNum" maxlength="10" minlength="1" type="text" id="downNum"/>个</td>
    </tr>
    <tr>
      <th>使用时间：</th>
      <td><input placeholder="例：2018-01-01 09:00:00" type="text" id="downStartTime"/></td>
    </tr>
    <tr>
      <th>预计使用天数：</th>
      <td id="downDayProps"><input v-model="downDay" maxlength="10" minlength="1" type="text" id="downDay"/>天</td>
    </tr>
    <tr>
      <th>预计总费用：</th>
      <td><input type="text" id="downTotalMoney" readonly>元</input></td>
    </tr>
    <tr>
      <th>备注：</th>
      <td><input type="text" id="downRemark"/></td>
    </tr>
  </table>
  <div class="detail-group">
    <a onclick="downSure()">确定</a>
    <a onclick="downPend()">待定</a>
  </div>
</div>

<!--底部-->
<footer th:include="base/footer"></footer>

<script src="/js/basemate/light.js"></script>

<script type="text/javascript" th:inline="javascript">
  var ectNumValue = 1, etcDayValue = 1, downNumValue = 1, downDayValue = 1;
  // etc数量vm
  var etcNumVm = new Vue({
    el: '#etcNumProps',
    data: {
      etcNum: 1
    },
    methods: {},
    computed: {},
    watch: {
      etcNum: function (val) {
        this.etcNum = val;
      }
    }
  });
  etcNumVm.$watch('etcNum', function (newValue) {
    ectNumValue = parseInt(newValue);
    $("#etcTotalMoney").val((Math.round(parseFloat(ectNumValue * etcDayValue * 2))).toFixed(2));
  });

  // etc使用天数vm
  var etcDayVm = new Vue({
    el: '#etcDayProps',
    data: {
      etcDay: 1
    },
    methods: {},
    computed: {},
    watch: {
      etcDay: function (val) {
        this.etcDay = val;
      }
    }
  });
  etcDayVm.$watch('etcDay', function (newValue) {
    etcDayValue = parseInt(newValue);
    $("#etcTotalMoney").val((Math.round(parseFloat(ectNumValue * etcDayValue * 2))).toFixed(2));
  });

  // down数量vm
  var downNumVm = new Vue({
    el: '#downNumProps',
    data: {
      downNum: 1
    },
    methods: {},
    computed: {},
    watch: {
      downNum: function (val) {
        this.downNum = val;
      }
    }
  });
  downNumVm.$watch('downNum', function (newValue) {
    downNumValue = parseInt(newValue);
    $("#downTotalMoney").val((Math.round(parseFloat(downNumValue * downDayValue * 3))).toFixed(2));
  });

  // down使用天数vm
  var downDayVm = new Vue({
    el: '#downDayProps',
    data: {
      downDay: 1
    },
    methods: {},
    computed: {},
    watch: {
      downDay: function (val) {
        this.downDay = val;
      }
    }
  });
  downDayVm.$watch('downDay', function (newValue) {
    downDayValue = parseInt(newValue);
    $("#downTotalMoney").val((Math.round(parseFloat(downNumValue * downDayValue * 3))).toFixed(2));
  })
</script>
</body>
</html>