<div class="foot-wrap">
  <ul class="clear">
    <li class="my_active">
      <a href="/index">
        <span><img class="my_img" src="/img/sy_yx@2x.png"/></span>
        首页
      </a>
    </li>

    <li class="my_active">
      <a href="/XXX">
        <span><img class="my_img" src="/img/tg_wx@2x.png"/></span>
        XXX
      </a>
    </li>

    <li class="my_active">
      <a onclick="toMyPage()">
        <span><img id="myPage" class="my_img" src="/img/wd_wx@2x.png"/></span>
        我的
      </a>
    </li>
  </ul>
</div>

<script>
  $(function () {
    $('.my_img').each(function () {
      $(this).attr('src', $(this).attr('src').replace('yx', 'wx'));
    });

    var pathname = window.location.pathname.slice(1);
    if (pathname.indexOf('XXX') != -1) {
      $('.my_active:eq(1)').addClass("active").siblings('.active').removeClass('active');
      $('.my_img:eq(1)').attr('src', $('.my_img:eq(1)').attr('src').replace('wx', 'yx'));
    } else if (pathname.indexOf('user/index') != -1) {
      $('.my_active:eq(2)').addClass("active").siblings('.active').removeClass('active');
      $('.my_img:eq(2)').attr('src', $('.my_img:eq(2)').attr('src').replace('wx', 'yx'));
    } else {
      $('.my_active:eq(0)').addClass("active").siblings('.active').removeClass('active');
      $('.my_img:eq(0)').attr('src', $('.my_img:eq(0)').attr('src').replace('wx', 'yx'));
    }
  })
</script>

<script>
  // toMyPage
  function toMyPage() {
    $.ajax({
      type: "get",
      url: "/user/index",
      dataType: "json",
      data: {},
      success: function (result) {
      },
      error: function (res) {
        if (res.status == 401) {
          window.location.href = "/tpl/login?uri=/user/index";
        } else if (res.status == 200) {
          window.location.href = "/user/index"
        } else {
          msgErr('请求异常,请联系管理员!');
        }
      }
    });
  }
</script>

