<meta charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="format-detection" content="telephone=no">
<meta name="wap-font-scale" content="no">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport"
      content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<!--QQ-->
<meta name="x5-orientation" content="portrait">
<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<title>首页</title>

<script type="text/javascript" src="/lib/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/lib/layui/layui.js"></script>
<script type="text/javascript" src="/js/common/constant/Lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/utils/msgUtils.js"></script>
<script type="text/javascript" src="/js/utils/layuiUtils.js"></script>
<script type="text/javascript" src="/js/common/constant/Constant.js"></script>
<script type="text/javascript" src="/lib/js/billadmin.js"></script>

<link rel="stylesheet" href="/css/common.css"/>
<link rel="stylesheet" href="/css/text.css"/>
<link rel="stylesheet" href="/css/swiper.min.css"/>
<link rel="stylesheet" href="/css/mpicker.css" />

<script type="text/javascript" src="/lib/js/swipe.min.js"></script>
<script type="text/javascript" src="/lib/js/jquery.scrollbox.js"></script>
<script type="text/javascript" src="/lib/js/text.js"></script>
<script type="text/javascript" src="/lib/js/http.util.js"></script>